.EventManagementComponent{
  .row {
    .col.s5{
      .event-form {

      }
    }
  }
  .Calendar {
    border-collapse: collapse;
    padding: 0;
    margin: 4rem auto 0;
    background: $ButtonBackgroundColor;
    color: white;
    box-shadow: 2px 2px 2px #000;
  }

  .Calendar th,
  .Calendar td {
    padding: 1rem;
    text-align: center;
    border-radius: 0;
  }

  .Calendar th {
    background: $HeaderColor;
    color: #000810;
  }

  .Calendar .month-header {
    border-bottom: 1px solid #fff;
  }

  .Day.weekend {
    background: $SubHeaderColor;
    color: #000;
  }

  .Day.other-month {
    color: #999;
    font-style: italic;
  }

  .Day.today {
    background: #fafad2;
    color: #000;
  }

  .Day:hover {
    background: #eee;
    color: #000;
  }

  .Day.selected {
    background: #000810;
    color: #fff;
  }
  .picker.picker--opened.picker--focused{
    font-size: 15px;
  }
  .event-form{
    padding: 1em;
  }
  .description{
    font-size: 20px;
  }
  .times{
    font-size: 18px;
  }
}