.ListManagementComponent{
  .add-list-button{
    position: absolute;
    left: 10px;
    bottom: 80px;
  }
  .list-title{
    background-color: $ButtonBackgroundColor;
    width: 100%;
    display: block;
  }
  .list-title:hover{
    background-color: $HeaderColor;
    color: #000;
  }
  .chip{
    display: block;
    text-align: center;
    height: 32px;
    margin: 5px auto;
    max-width: 300px;
    font-size: 18px;
    font-weight: 500;
    color: rgba(0,0,0,0.6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #E4E4E4;
  }
}