.ListManagementComponent{
  .add-list-button{
    position: absolute;
    left: 10px;
    bottom: 80px;
  }
  .list-title{
    background-color: $ButtonBackgroundColor;
    width: 100%;
    display: block;
  }
  .list-title:hover{
    background-color: $HeaderColor;
    color: #000;
  }
}