.RecipeManagementComponent{
  .dz-error-mark{
    display: none;
  }
  .dz-success-mark{
    display: none;
  }
  .img-box{
    height: 10em;
    width: 10em;
    img{
      height: 100%;
      width: 100%;
    }
  }
  .add-recipe-button{
    padding: 1em;
  }
}