.RecipeDetailComponent{
  .recipe-details-img-box{
    height: 25em;
    width: 25em;
    img{
      height: 100%;
      width: 100%;
    }
  }
  h5{
    font-style: italic;
  }
  .card{
    .card-content{
      font-size: 20px;
    }
  }
  .chip{
    margin-right: 5px;
  }
  .info-row{
    font-size: 20px;
  }
}