$NavbarBackgroundColor: #0088AA;
$HeaderColor: #A4DD88;
$SubHeaderColor: #DFEC90;
$ButtonBackgroundColor: #025063;
$IconColor: #02635e;
$CalendarBorderColor: yellow;
$CalendarNumberColor: purple;
$CalendarBrandColor: red;
$CalendarBackgroundColor: green;