$NavbarBackgroundColor: #0088AA;
$HeaderColor: #A4DD88;
$SubHeaderColor: #DFEC90;
$SubNavbarBackgroundColor: $SubHeaderColor;
$ButtonBackgroundColor: #025063;
$IconColor: #02635e;
$CalendarBorderColor: yellow;
$CalendarNumberColor: purple;
$CalendarBrandColor: red;
$CalendarBackgroundColor: green;
$ParagraphFont: 'Titillium Web', sans-serif;
$HeaderFont: 'Lato' , serif;
