@import 'materialize-css/dist/css/materialize.min.css',
'variables',
'home-page',
'footer',
'nav-styling';

.btn-large{
  background-color: $ButtonBackgroundColor;
}
.btn-large:hover{
  background-color: $HeaderColor;
  color: #000;
}