@import 'materialize-css/dist/css/materialize.min.css',
'calendar',
'variables',
'home-page',
'footer',
'sign-up',
'list-management',
'list-details',
'nav-styling';
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#main {
  flex: 1 0 auto;
}

.btn-large{
  background-color: $ButtonBackgroundColor;
}
.btn-large:hover{
  background-color: $HeaderColor;
  color: #000;
}
