@import url(materialize-css/dist/css/materialize.min.css);
.HomepageComponent .brand-title {
  color: #8fdd88; }

.HomepageComponent .subHeader {
  color: #DFEC90; }

.HomepageComponent .icon-color {
  color: #02635e; }

footer .subHeader {
  color: #DFEC90; }

footer.page-footer {
  background-color: #0088AA; }

.SignUpComponent .optional {
  font-size: 30px; }

.nav-wrapper {
  background-color: #0088AA; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

#main {
  flex: 1 0 auto; }

.btn-large {
  background-color: #025063; }

.btn-large:hover {
  background-color: #A4DD88;
  color: #000; }
