@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(materialize-css/dist/css/materialize.min.css);
.HomepageComponent .brand-title {
  color: #8fdd88;
  background-color: RGBA(0, 0, 0, 0.5); }

.HomepageComponent .subHeader {
  color: #DFEC90;
  background-color: RGBA(0, 0, 0, 0.5);
  padding: 1em; }

.HomepageComponent .icon-color {
  color: #02635e; }

footer .subHeader {
  color: #DFEC90; }

footer.page-footer {
  background-color: #0088AA; }

.SignUpComponent .optional {
  font-size: 30px; }

.EventManagementComponent .Calendar {
  border-collapse: collapse;
  padding: 0;
  margin: 4rem auto 0;
  background: #fff; }

.EventManagementComponent .Calendar th,
.EventManagementComponent .Calendar td {
  padding: 1rem;
  text-align: center; }

.EventManagementComponent .Calendar th {
  background: #ddd; }

.EventManagementComponent .Calendar .month-header {
  border-bottom: 1px solid #fff; }

.EventManagementComponent .Day.weekend {
  background: #bdc3c7;
  color: #000; }

.EventManagementComponent .Day.other-month {
  color: #999;
  font-style: italic; }

.EventManagementComponent .Day.today {
  background: #fafad2;
  color: #000; }

.EventManagementComponent .Day:hover {
  background: #eee;
  color: #000; }

.EventManagementComponent .Day.selected {
  background: #2980b9;
  color: #fff; }

.EventManagementComponent .picker.picker--opened.picker--focused {
  font-size: 15px; }

.ListManagementComponent .add-list-button {
  position: absolute;
  left: 10px;
  bottom: 80px; }

.ListManagementComponent .list-title {
  background-color: #025063;
  width: 100%;
  display: block; }

.ListManagementComponent .list-title:hover {
  background-color: #A4DD88;
  color: #000; }

.ListManagementComponent .chip {
  display: block;
  text-align: center;
  height: 32px;
  margin: 5px auto;
  max-width: 300px;
  font-size: 18px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  line-height: 32px;
  padding: 0 12px;
  border-radius: 16px;
  background-color: #E4E4E4; }

.RecipeManagementComponent .dz-error-mark {
  display: none; }

.RecipeManagementComponent .dz-success-mark {
  display: none; }

.RecipeManagementComponent .img-box {
  height: 20em;
  width: 20em;
  margin: 0 auto; }
  .RecipeManagementComponent .img-box img {
    height: 100%;
    width: 100%; }

.RecipeManagementComponent .add-recipe-button {
  padding: 1em; }

.RecipeManagementComponent .btn {
  margin: 3px; }

.RecipeManagementComponent .btn:hover {
  background-color: #DFEC90;
  color: #000; }

.RecipeManagementComponent .recipe-box {
  margin: 0 auto;
  text-align: center; }

.ListDetailsComponent .action-button {
  top: 60px;
  right: 10px; }

.ListDetailsComponent .fixed-action-btn ul {
  top: 90px; }

.ListDetailsComponent .main-floating-button {
  color: #A4DD88; }

.RecipeDetailComponent .recipe-details-img-box {
  height: 25em;
  width: 25em; }
  .RecipeDetailComponent .recipe-details-img-box img {
    height: 100%;
    width: 100%; }

.RecipeDetailComponent h5 {
  font-style: italic; }

.RecipeDetailComponent .card .card-content {
  font-size: 20px; }

.RecipeDetailComponent .chip {
  margin-right: 5px; }

.RecipeDetailComponent .info-row {
  font-size: 20px; }

.AddRecipeComponent .table-of-contents {
  position: fixed; }

.ProfileComponent .profileSubheader {
  font-size: 24px;
  font-weight: bold; }

.ProfileComponent .profile-edit-button {
  margin-right: 20px; }

.nav-wrapper {
  background-color: #0088AA;
  font-family: "Lato", serif; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

#main {
  flex: 1 0 auto; }

.btn-large {
  background-color: #025063; }

.btn-large:hover {
  background-color: #A4DD88;
  color: #000; }

html {
  font-family: "Titillium Web", sans-serif; }

.input-field label {
  color: #000; }

.input-field input[type=text]:focus + label {
  color: #025063; }

.input-field input[type=number] {
  border-bottom: 1px solid #025063;
  box-shadow: 0 1px 0 0 #000; }

.input-field input[type=number]:focus {
  border-bottom: 1px solid #025063;
  box-shadow: 0 1px 0 0 #000; }

.input-field input[type=number]:focus + label {
  color: #025063; }

.input-field input[type=text]:focus {
  border-bottom: 1px solid #025063;
  box-shadow: 0 1px 0 0 #000; }

.input-field textarea.materialize-textarea {
  border-bottom: 1px solid #025063;
  box-shadow: 0 1px 0 0 #000; }

.input-field textarea.materialize-textarea:focus + label {
  color: #025063; }

.input-field textarea.materialize-textarea:focus {
  border-bottom: 1px solid #025063;
  box-shadow: 0 1px 0 0 #000; }

.input-field input[type="checkbox"]:checked + label:before {
  border-right: 2px solid #025063;
  border-bottom: 2px solid #025063; }
