@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import 'materialize-css/dist/css/materialize.min.css',
'variables',
'home-page',
'footer',
'sign-up',
'event-management',
'list-management',
'recipe-management',
'list-details',
'add-recipe',
'nav-styling';

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#main {
  flex: 1 0 auto;
}

.btn-large{
  background-color: $ButtonBackgroundColor;
}
.btn-large:hover{
  background-color: $HeaderColor;
  color: #000;
}

html{
  font-family: $ParagraphFont;
}