@import url(materialize-css/dist/css/materialize.min.css);
.HomepageComponent .brand-title {
  color: #8fdd88; }

.HomepageComponent .subHeader {
  color: #DFEC90; }

.nav-wrapper {
  background-color: #0088AA; }

.btn-large {
  background-color: #025063; }
